{{#
    @name Button
    @desc A simple button component. Could render as a button or link element.
    @param link_type The type of the button link. Defaults to none and renders a button element in that case.
    @param link Different link options depending on selected link type.
    @param content The button content.
    @param class Additional CSS classes.
#}}

<!-- /components/_button.antlers.html -->
{{ if link:tel }}
    {{ tel = 'tel:' + link:tel }}
{{ elseif link:mailto }}
    {{ mailto = 'mailto:' + link:mailto }}
{{ /if }}

{{link|dump}}
<{{ link ? 'a' : 'button' }}
        {{ if link }}
            href="{{ link:entry:url or link:file or link:url or tel or mailto }}"
            target="{{link:target}}"
        {{ else }}
            type="button"
        {{ /if }}
        class="button {{ class }}"
        {{ attributes }}
    >
        <span class="flex-1">{{ content }}</span>
</{{ link ? 'a' : 'button' }}>
<!-- End: /components/_button.antlers.html -->
