---
class: null
---

{{#
    @name Grid
    @desc Forms a responsive grid with a min-width for every item before it breaks to a new line.
    @param width The min-width of an item.
    @param gap The gap between items.
#}}

<!-- /components/_grid.antlers.html -->
    <div
        class="
            grid
            grid-cols-[repeat(auto-fit,minmax(min(var(--min-width),100%),1fr))]
            {{ gap or 'gap-6' }}
            {{ view:class }}
        "
        style="--min-width: {{ width or '240px' }};"
    >
        {{ slot }}
    </div>
<!-- End: /components/_grid.antlers.html -->
