---
class: null
style: null
---

{{#
    @name Image
    @desc The image component. A sizeable image rendered in a figure tag with optional caption.
    @set page.article.image
#}}

<!-- /components/_image.antlers.html -->
<figure class="{{ cover ?= 'span-full' }} {{ view:class }}" style="{{ view:style }}">
    {{
        partial:statamic-peak-tools::components/picture
        :$image
        class="w-full"
        cover="{{ cover or false }}"
        lazy="true"
        sizes="100vw"
    }}

    {{ partial:typography/caption as="figcaption" :richtext="image:caption:richtext" class="mt-4" }}
</figure>
<!-- End: /components/_image.antlers.html -->
