{{#
    @name Default
    @desc The default template with an outer wrapper grid as defined in tailwind.config.js. It makes sure all blocks on a page get evenly spaced without having to worry about margins or paddings.
#}}

<!-- /default.antlers.html -->
<main class="stack-12 md:stack-16 lg:stack-24" id="content">
    {{ partial:components/hero }}

    {{ if {mount_url:{collection}} }}
        {{ get_content from="{{ mount_url:{collection} }}" }}
            {{ partial:components/page_builder }}
        {{ /get_content }}
    {{ else }}
        {{ partial:components/page_builder }}
    {{ /if }}
</main>
<!-- End: /default.antlers.html -->
