{{#
    @name Footer
    @desc The sites footer rendered on each page.
#}}

<!-- /layout/_footer.antlers.html -->
{{ partial:page_builder/block as="footer" class="text-white bg-gray bg-black [&_a]:underline [&_a:hover]:no-underline" }}
    {{ partial:components/grid width="280px" }}
        <div class="flex sm:order-1 flex-col gap-4 items-start">
            {{ svg src="svg/logo" height="50px" class="[&_*]:fill-white [&_path:last-child]:hidden" }}

            <div class="flex flex-col gap-1">
                <a href="mailto:{{ contact:email }}">{{ contact:email }}</a>
                <a href="tel:{{ contact:phone }}">{{ contact:phone }}</a>
                <a href="tel:{{ contact:mobile }}">{{ contact:mobile }}</a>
            </div>

            <div class="flex flex-wrap gap-x-4">
                <span>Copyright {{ now | format('Y') }}. All Rights Reserved</span>

                {{ yield:reset_consent }}
            </div>
        </div>

        <nav class="flex flex-wrap sm:order-3 gap-y-2 gap-x-4 font-semibold lg:justify-end items-end">
                {{ nav:footer }}
                    <a href="{{ url }}" class="{{ !inline ?= 'w-full lg:text-right' }}">{{ title }}</a>
                {{ /nav:footer }}
        </nav>

        <div class="flex items-end sm:order-2 sm:justify-center">
            {{ partial:components/image image="/images/plagiat-banner.png" class="max-w-[300px]" }}
        </div>
    {{ /partial:components/grid }}
{{ /partial:page_builder/block }}
<!-- End: /layout/_footer.antlers.html -->
