{{#
    @name Image Accordions
    @desc Accordions with a background image.
    @set page.page_builder.image_accordions
#}}

<!-- /page_builder/_image_accordions.antlers.html -->
{{ partial:page_builder/block class="bg-gray-50 stack-space-collapse py-10" }}
    {{ partial:typography/heading center="true" }}
    {{ partial:typography/richtext }}

    {{ partial:components/grid width="500px" gap="gap-2" }}
        {{ grid }}
            {{ partial:components/accordion
                class="
                    items-end
                    [&>div]:span-full [&>div]:row-start-1 [&>div]:p-2
                    [&_button]:w-full [&_button]:bg-opacity-80 [&_button]:bg-black [&_button]:flex [&_button]:items-center [&_button]:gap-2 [&_button]:p-4 [&_button]:text-left [&_button]:text-lg [&_button]:font-bold [&_button]:leading-6 [&_button]:text-white [&_button]:font-display [&_button]:sm:text-[1.625rem] [&_button]:sm:leading-[1.95rem]
                    [&_article]:bg-white [&_article]:p-6 [&_article]:text-primary
                "
            }}
                {{ slot:image }}
                    {{ partial:components/image cover="true" class="row-start-1" }}
                {{ /slot:image }}

                {{ slot:button }}
                    {{ svg src="icons/misc/chevron" width="16px" height="16px" fill="#fff" class="transition-transform duration-150" x-bind:class="expanded ? 'rotate-0' : 'rotate-90'" }}
                    <span>{{ title }}</span>
                {{ /slot:button }}
            {{ /partial:components/accordion }}
        {{ /grid }}
    {{ /partial:components/grid }}
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_image_accordions.antlers.html -->
